.row
  .col-md-12
    %h3
      = "Hotel Accomodations"
    .divider

%br

.row
  .col-md-12
    %p.txt-left
      = "We have a block of rooms reserved for guests at the Hilton Garden Inn at Polaris for $114.00 per night for two queen beds or one king bed. Be sure to mention the Sapharas/Magnacca wedding to get the group rate and make sure to book a room no later than May 30, 2014."

    %p.txt-left
      = "There will be a complimentary shuttle to and from the Medallion Club. Times for the shuttle departures will be coming soon!"

%br

.row
  .col-md-6
    .col-md-6-image
      = image_tag "hotel.jpg"

  .col-md-6
    %ul.list-unstyled
      %li
        = link_to "Hilton Garden Inn Columbus/Polaris", "http://hiltongardeninn3.hilton.com/en/hotels/ohio/hilton-garden-inn-columbus-polaris-CMHCPGI/index.html"
      %li
        = "8535 Lyra Drive"
      %li
        = "Columbus, Ohio 43240"
      %li
        = "614-846-8884"

