- content_for :head do
  = javascript_include_tag "directions"

.row
  .col-md-12
    %h3
      = "Ceremony & Reception Venue"
    %p
      = "The Medallion Club"
    %p
      = "5000 Club Dr"
    %p
      = "Westerville, OH 43082"

%br

#map-canvas

%br

.row
  .col-md-12
    %h3
      = "Directions"

.row
  .col-md-12
    %h4
      = "Hilton Garden Inn"
      %span.glyphicon.glyphicon-arrow-right
      = "The Medallion Club"

%br

.row
  .col-md-12
    %ul.pull-left.list-txt-left
      %li
        ="Head west on Lyra Dr"
      %li
        ="Take the 1st right onto Polaris Parkway"
      %li
        ="Continue straight to stay on Polaris Parkway"
      %li
        ="Continue onto Maxtown Road"
      %li
        ="Turn left onto Sunbury Road"
      %li
        ="Turn left onto Medallion Drive East"
      %li
        ="Turn left onto Club Villas Lane"

%br

.row
  .col-md-12
    %h4
      = "Port Columbus International Airport"
      %span.glyphicon.glyphicon-arrow-right
      = "Hilton Garden Inn"

%br

.row
  .col-md-12
    %ul.pull-left.list-txt-left
      %li
        ="Take the ramp onto I-670 E"
      %li
        ="Merge onto I-670 E"
      %li
        ="Take the exit on the left onto I-270 N"
      %li
        ="Take exit 26 to merge onto I-71 N"
      %li
        ="Take exit 121 for Polaris Parkway"
      %li
        ="Keep right at the fork"
      %li
        ="Turn left onto Polaris Pkwy"
      %li
        ="Turn left onto Lyra Drive"


