.row
  .col-md-12
    %h3
      = "Wedding Party"
    .divider

%br

.row
  .col-md-6
    %ul.list-unstyled
      %li.list-item-header
        = "Matron of Honor:"
      %li.moh-and-bm
        = "Alicia Sexton, Friend of the Bride"
      %li.list-item-header
        = "Bridesmaids:"
      %li
        = "Nicole Watkins, Sister of the Bride"
      %li
        = "Candace Zamora, Friend of the Bride"
      %li
        = "Megan Kapes, Cousin of the Bride"
      %li
        = "Alyssa Magnacca, Sister of the Groom"

  .col-md-6
    %ul.list-unstyled
      %li.list-item-header
        = "Best Man:"
      %li.moh-and-bm
        = "Jason Frenz, Friend of the Groom"
      %li.list-item-header
        = "Groomsmen:"
      %li
        = "Chris Weiss, Friend of the Groom"
      %li
        = "Josh Sexton, Friend of the Groom"
      %li
        = "Tyler Wymer, Friend of the Groom"
      %li
        = "Anthony Zych, Friend of the Groom"
