#nav-container
  .navbar.navbar-default.navbar-centered{role: "navigation"}
    .navbar-header
      -# .btn-navbar is used as the toggle for collapsed navbar content
      %button.navbar-toggle{type:"button", data: {toggle:"collapse",target:"#navbar"}}
        %span.sr-only
          = "Toggle Navigation"
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href:"/"}
        = "L"
        %span.glyphicon.glyphicon-heart
        = "C"

    .collapse.navbar-collapse.navbar-justified#navbar
      %ul.nav.navbar-nav
        %li
          %a#story{href:"/our_story"}
            = "Our Story"
        %li
          %a#date_time{href:"/date_and_time"}
            = "Date & Time"
        %li
          %a#bridal_party{href:"/wedding_party"}
            = "Wedding Party"
        %li
          %a#directions{href:"/directions"}
            = "Directions"
        %li
          %a#accomodations{href:"/hotel_info"}
            = "Hotel Info"
        %li
          %a#around_columbus{href:"/around_columbus"}
            = "Around Columbus"
        %li
          %a#wedding_registry{href:"/registry"}
            = "Registry"
