.col-md-12
	.rsvp-form.row
		.form-label.pull-left.col-md-12
			= label_tag(:guest_names, "Name(s)")
		%br
		.col-md-4
		.form-field.col-md-4
			= text_field_tag(:guest_names, nil, class: "form-control", placeholder: "Enter All Guests' Names")
		.col-md-4
		%br
		= label_tag(:email_addr, "Email")
		%br
		.col-md-4
		.form-field.col-md-4
			= text_field_tag(:email_addr, nil, class: "form-control", placeholder: "Enter Your Email Address")
		.col-md-4
		%br
		.form-label.pull-left.col-md-12
			= label_tag(:number_attending, "Number Attending")
		%br
		.col-md-4
		.form-field.col-md-4
			= text_field_tag(:number_attending, nil, class: "form-control", placeholder: " ")
		.col-md-4
		%br
		.form-label.pull-left.col-md-12
			= label_tag(:meal_one, "Chicken & Steak Meal")
		%br
		.col-md-4
		.form-field.col-md-4
			= text_field_tag(:meal_one, nil, class: "form-control", placeholder: " ")
		.col-md-4
		%br
		.form-label.pull-left.col-md-12
			= label_tag(:meal_two, "Vegetarian Meal")
		%br
		.col-md-4
		.form-field.col-md-4
			= text_field_tag(:meal_two, nil, class: "form-control", placeholder: " ")
		.col-md-4
		%br
		.form-label.pull-left.col-md-12
			= label_tag(:meal_three, "Children's Meal")
		%br
		.col-md-4
		.form-field.col-md-4
			= text_field_tag(:meal_three, nil, class: "form-control", placeholder: " ")
		.col-md-4
		%br
		.btn.btn-primary#submit-rsvp
			= 'RSVP'
		%br
		.hdn
			= hidden_field_tag(:invitation_code)
