- content_for :head do
  = javascript_include_tag "home", "jquery-countdown"

= render "shared/carousel"
%h1
  = "Lauren & Christopher"

  %p.lead.p-padded
    = "We are excited to share our special day with our family and friends."
  %p
    %a.btn.btn-lg.btn-primary{href:"/rsvp", role:"button"}
      = "RSVP"

.row
  .col-lg-12
    #countdown

