- content_for :head do
  = javascript_include_tag "rsvp"

.row
  .col-md-12
    %h3
      = "RSVP"
    .divider

%br

.row#rsvp-content
  .col-md-12
    .rsvp-form.row
      .form-label.pull-left.col-md-12
        = label_tag(:invitation_code, "Invitation Code")
      %br
      .col-md-4
      .form-field.col-md-4
        = text_field_tag(:invitation_code, nil, class: "form-control", placeholder: "Enter Invitation Code")
      .col-md-4
      %br
      .btn.btn-primary#submit-code
        = 'Submit Code'
