.row
  .col-md-12
    %h3
      = "Our Story"
    .divider

.row
  .col-md-12
    %p
      = "About Lauren"
      %p.txt-left
        = h(                                                                                 |
            "Lauren grew up in Solon, Ohio and graduated from The Ohio State University " +  |
            "with her Bachelor of Science Degree in Electrical and Computer Engineering " +  |
            "and minored in General Business. After permanently moving to Columbus after " + |
            "college, Lauren began working as a Telecom Analyst at Affinion Group in " +     |
            "Westerville, Ohio. She currently works at CallCopy as a Support Engineer in " + |
            "downtown Columbus. In her spare time, Lauren enjoys video games, crafts, " +    |
            "Ohio State football and hanging out with good friends." )                       |
      %br
      %p
        = "About Christopher"
      %p.txt-left
        = h(                                                                                |
          "Chris grew up in Columbus, Ohio and graduated from The Ohio State University " + |
          "with his Bachelor of Science Degree in Computer Science and Engineering. " +     |
          "After college, Chris began working as a Software Developer at Nationwide " +     |
          "Insurance in downtown Columbus and then transitioned to a Software Developer " + |
          "at CallCopy in downtown Columbus. He is currently working at J.P. Morgan " +     |
          "Chase in Polaris as a Software Developer. In his spare time, Chris enjoys " +    |
          "computers, video games, good whiskey, and traveling." )                         |


%br

.row
  .col-md-12
    %h3
      = "How We Met"
    %p.quote
      = "\"You are what I never knew I always wanted\""
    .divider
    %p.txt-left
      = h(                                                                                       |
        "In college, Chris had met Lauren through mutual friends in September 2009 when " +      |
        "he came over to her house for games and drinks. Lauren only remembered Chris as " +     |
        "the guy who brought the beer, because she forgot his name. Later after hanging " +      |
        "out with friends one night, Chris finally gave Lauren his number, and reminded " +      |
        "her of his real name, and they planned their first date at Chipotle. They went " +      |
        "out the following night, and the night after that, and the night after that, " +        |
        "and the rest is history! Little did they know that they would become forever friends.") |

    %p.txt-left
      = "We are so excited for many more of these memories to come as we continue our journey together!"


