.row
  .col-md-12
    %h3
      = "Wedding Registry"

%br

.row
  .col-md-12
    %p.txt-left
      = "We have setup wedding registries at "
      = link_to "Crate & Barrel", "http://www.crateandbarrel.com/Gift-Registry/Lauren-Sapharas-and-Chris-Magnacca/r5010311"
      = " and "
      = link_to "Bed, Bath, and Beyond", "http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=13267621&pwsurl="
