.row
  .col-md-12
    %h3
      = "Around Columbus"
    .divider

%br

.row
  .col-md-12
    %ul.list-unstyled
      %li
        %span.glyphicon.glyphicon-cutlery
        = "&nbsp;Food & Entertainment".html_safe
      %li
        = link_to "Dirty Frank's Hot Dog Palace",  "http://www.dirtyfrankshotdogs.com/"
      %li
        = link_to "Jeni's Splendid Ice Creams", "http://www.jenis.com/"
      %li
        = link_to "MELT Bar & Grilled", "http://meltbarandgrilled.com/"
      %li
        = link_to "Schmidt's Sausage Haus", "http://www.schmidthaus.com/"
      %li
        = link_to "The Thurman Cafe", "http://thethurmancafe.com/"
      %li
        = link_to "The Funny Bone Comedy Club", "http://funnybonecentral.com/"
      %li
        = link_to "Shadowbox Live", "http://www.shadowboxlive.org/"

%br

.row
  .col-md-12
    %ul.list-unstyled
      %li
        %span.glyphicon.glyphicon-tags
        = "&nbsp;Shopping".html_safe
      %li
        = link_to "Easton Town Center", "http://www.eastontowncenter.com/"
      %li
        = link_to "Polaris Fashion Place", "http://www.polarisfashionplace.com/"

%br

.row
  .col-md-12
    %ul.list-unstyled
      %li
        %span.glyphicon.glyphicon-camera
        = "&nbsp;Nearby Attractions".html_safe
      %li
        = link_to "Center of Science and Industry (COSI)", "http://www.cosi.org/"
      %li
        = link_to "The Columbus Zoo and Aquarium", "http://www.colszoo.org/default.aspx"
      %li
        = link_to "Ohio Historical Society", "http://www.ohiohistory.org/museums-and-historic-sites/museum--historic-sites-by-name/ohio-history-center/ohio-history-center"
      %li
        = link_to "The Ohio State University", "http://www.osu.edu/"
      %li
        = link_to "The Short North Art District", "http://www.shortnorth.org/"
      %li
        = link_to "Franklin Park Conservatory", "http://www.fpconservatory.org/"

