<!DOCTYPE html>
<html>
<head>
  <title>Lauren & Christopher</title>
  <!-- media query meta tag(s) -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- bookmark icon -->
  <%= favicon_link_tag "/assets/favicon.ico" %>
  <!-- stylesheets -->
  <%= stylesheet_link_tag href='http://fonts.googleapis.com/css?family=Parisienne' %>
  <%= stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBC07QHkm7xFRu6X9stoRDifMgdxudCB-0&sensor=false"></script>
  <!-- javascripts -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="site-container" class="container">
  <!-- website banner -->
  <%= render 'shared/banner_text' %>
  <!-- navigation bar -->
  <%= render 'shared/navigation' %>
  <!-- page content -->
  <div id='body-container'>
    <%= yield %>
  </div>
</div>

</body>
</html>
