<!DOCTYPE html>
<html>
<head>
  <title>Lauren & Christopher</title>
  <!-- media query meta tag(s) -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- bookmark icon -->
  <%= favicon_link_tag "/assets/favicon.ico" %>
  <!-- stylesheets -->
  <%= stylesheet_link_tag href='http://fonts.googleapis.com/css?family=Roboto+Slab:100,400' %>
  <%= stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => true %>
  <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBC07QHkm7xFRu6X9stoRDifMgdxudCB-0&sensor=false"></script>-->
  <!-- javascripts -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="blue-bar"></div>
<span id="title">Lauren & Christopher</span>
<div id="site-container" class="container">
  <div id="header">
    <nav>
        <ul id="navigation-bar">
          <li class="nav-item"><a href="/home">Home</a></li>
          <li class="nav-item"><a href="/bridal_party">Bridal Party</a></li>
          <li id="nav-left" class="nav-item"><a href="/directions">Directions</a></li>
          <li id="nav-right" class="nav-item"><a href="/accommodations">Accommodations</a></li>
          <li class="nav-item"><a href="/rsvp">RSVP</a></li>
          <li class="nav-item"><a href="/registry">Registry</a></li>
        </ul>
    </nav>
  </div>

  <div id='body-container'>
    <%= yield %>
  </div>
</div>
<div id="blue-bar"></div>

<div id="content-container">
  <div id="home-container">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span8" id="welcome-message">
          <h3 id="welcome-header">Lauren and Christopher are getting married!</h3>
        </div>
        <div class="span4" id="rsvp-message">
          <div class="row-fluid">
            <div class="span12">
              <div class="btn-rsvp">
                <button type="button" class="btn btn-primary btn-lg">RSVP</button>
              </div>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12">
              We are getting married in:
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>
